<h2><%= "idが#{@user.id}のユーザ詳細ページ" %></h2>
<div><%= @user.name %></div>
<div><%= @user.email %></div>
<div><%= link_to("編集", "/users/#{@user.id}/edit") %></div>
<div><%= link_to("削除", "/users/#{@user.id}/destroy", {method: "post"}) %></div>