<h2 class="user-show-title"><%= "#{@user.name}さんの詳細ページ" %></h2>
<div class="user-show-center">
  <% if @current_user.id == @user.id %>
    <span class="user-show-span">
      <%= link_to("ユーザ情報編集","/users/#{@user.id}/edit", class: "user-show-link") %>
    </span>
      <%= link_to("ユーザ削除","/users/#{@user.id}/destroy", {method: "post", class: "user-show-link"}) %>
  <% end %>
</div>
  <div class="user-info-container">
    <div class="user-show-center"><%= "ユーザ名: #{@user.name}" %></div>
    <div class="user-show-center"><%= "メールアドレス: #{@user.email}" %></div>
  </div>
<div class="user-show-center">
  <span class="user-show-span"><%= link_to("投稿一覧", "/users/#{@user.id}/show", class: "user-show-link") %></span>
  <%= link_to("いいね!一覧", "/users/#{@user.id}/likes", class: "user-show-link") %>
</div>
<div class="user-show-center"><%= "#{@user.name}さんの投稿一覧" %></div>
<div class="user-show-center">
  <ul>
    <li>
      <% @user.posts.each do |post| %>
        <div class="user-show-items"><%= post.content %></div>
      <% end %>
    </li>
  </ul>
</div>
