<!DOCTYPE html>
<html>
  <head>
    <title>ついったー</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  </head>

  <body>
    <% if @current_user %>
      <header>
        <div id="header">    
          <ul>      
              <li class="header-link"><%= link_to("新規投稿", "/posts/new", class:"text") %></li>
              <li class="header-link"><%= link_to("投稿一覧", "/posts/index", class:"text") %></li>
              <li class="header-link"><%= link_to("ユーザ一覧", "/users/index", class:"text") %></li>
              <li class="header-link"><%= link_to(@current_user.name, "/users/#{@current_user.id}/show", class:"text") %></li>
              <li class="header-link"><%= link_to("ログアウト", "/logout", class:"text", method: "post") %></li>
          </ul>
        </div>
      </header>
    <% end %>
    <% if flash[:notice] %>
      <div class=""><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
